.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .admin-blog-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon-trash a{
            margin-left: 1.5em;
            font-size: 1.5em;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            
            &:hover {
                color: $warning;
            }
        }
    }

    .new-blog-link{
        position: fixed;
        right: 5em;
        bottom: 50%;
        

        a {
            font-size: 3em;
            cursor: pointer;
            color: $teal;
            transition: 0.5s ease-in-out;
            
            &:hover {
                color: $dark-teal;
            }
        }
    }
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        width: 40em;
        
        a {
            text-decoration: none;
            color: $teal;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-teal;
            }
        }

        h1 {

            font-size: 1.5em;
        }
        .content p{
            text-align: justify !important;
        }
        .title-center {
            cursor: pointer;
            text-align: center;
        }

        .feature-image-wrapper {
            display: flex;
            justify-content: center;
            img {
                margin: 2em;
                width: auto;
                height: 20em;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
}