.DraftEditor-root {
    border: 1px solid lightgray;
    padding: 2em;
    height: auto;
    border-radius: 5px;
    white-space: nowrap;
}

.rdw-emoji-modal {
    left: -15em;
}
.rdw-embedded-modal{
    left: -15em;
}